<span>株式会社 three_arroes</span>

〜会社概要〜

創業
　2020年4月

創業者
　はぎはぎ

資本金
　3,000,000,000

拠点
　ネット上


〜支店情報〜

店舗名
　NaganoCake

住所
　〒000-0000
　長野県長野市長野333

電話番号
　0959-33-3333

営業時間
  9:30～19:30

駐車場
　11台

カフェスペース
　20席