<div class="about">
	<div class="container">
		<h2><span>株式会社 three_arroes</span></h2>

		<div class="row">
			<div class="col-xs-6">

				<h3 class="about_header">〜会社概要〜</h3>
				<div class="gaiyou">
					<h4>創業</h4>
					<p class="about_p">2020年4月</p>
				</div>
				<div class="gaiyou">
					<h4>創業者</h4>
					<p class="about_p">はぎはぎ</p>
				</div>
				<div class="gaiyou">
					<h4>資本金</h4>
					<p class="about_p">3,000,000,000</p>
				</div>
				<div class="gaiyou">
					<h4>拠点</h4>
					<p class="about_p">ネット上</p>
				</div>
			</div>
			<div class="col-xs-6">

				<h3 class="about_header">〜支店情報〜</h3>
				<div class="shiten">
					<h4>店舗名</h4>
					<p class="about_p">NaganoCake</p>
				</div>
				<div class="shiten">
					<h4>住所</h4>
					<p class="about_p">〒000-0000</p>
					<p class="about_p">長野県長野市長野333</p>
				</div>
				<div class="shiten">
					<h4>電話番号</h4>
					<p class="about_p">0959-33-3333</p>
				</div>
				<div class="shiten">
					<h4>営業時間</h4>
					<p class="about_p">9:30～19:30</p>
				</div>
				<div class="shiten">
					<h4>駐車場</h4>
					<p class="about_p">11台</p>
				</div>
				<div class="shiten">
					<h4>カフェスペース</h4>
					<p class="about_p">20席</p>
				</div>
			</div>
		</div>
	</div>
</div>