<div class="about">
	<div class="container">
		<h2><span>株式会社 three_arroes</span></h2>

		<div class="row">
			<div class="col-xs-6">

				<h3>〜会社概要〜</h3>

				<h4>創業</h4>
				　<p>2020年4月</p>

				<h4>創業者</h4>
				　<p>はぎはぎ</p>

				<h4>資本金</h4>
				　<p>3,000,000,000</p>

				<h4>拠点</h4>
				　<p>ネット上</p>
			</div>
			<div class="col-xs-6">

				<h3>〜支店情報〜</h3>

				<h4>店舗名</h4>
				　<p>NaganoCake</p>

				<h4>住所</h4>
				　<p>〒000-0000</p>
				　<p>長野県長野市長野333</p>

				<h4>電話番号</h4>
				　<p>0959-33-3333</p>

				<h4>営業時間</h4>
				  <p>9:30～19:30</p>

				<h4>駐車場</h4>
				　<p>11台</p>

				<h4>カフェスペース</h4>
				　<p>20席</p>
			</div>
		</div>
	</div>
</div>