<div class="container">
	<div class="complete">
		<h3 class="thanks_message">
			ご購入ありがとうございました！<br>
			またのご利用、<br>
			心よりお待ちしております。
		</h3>
		<h4 class="sub_thanks_message">~ by Nagano-Cake ~</h4>
	</div>
</div>