<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table class="owner_table" width="800">
				<span class="page_header">会員一覧</span>
				<thead>
					<tr class="table_header">
						<th>会員ID</th>
						<th>氏名</th>
						<th>メールアドレス</th>
						<th>ステータス</th>
					</tr>
				</thead>
				
	
		<tbody>
			<% @members.each do |member| %>
				<tr class="table_data">
					<td><%= member.id %></td>
					<% name = "#{member.last_name}#{member.first_name}" %>
					<td><%= link_to name, owner_member_path(member.id) %></td>
					<td><%= member.email %></td>
					<td><%= member.member_status %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>