<div class="container">

	<p class=“flash_message”><%= flash[:notice] %></p>
	<span class="page_header">管理者画面</span>
	<table class='table'>
		<tr>
		  	<th>本日の注文件数</th>
		  	<td>
		  		<%= link_to "#{@orders.count} 件", owner_orders_path(today: 1), class: "oreder_count" %>
		  	</td>
  		</tr>
	</table>
</div>