<div class="container">
	<h4>管理者画面</h4>
	<table class='table'>
		<tr>
		  	<td>本日の注文件数</td>
		  	<td>
		  		<%= link_to "#{@orders.count} 件", owner_orders_path(today: 1) %>
		  	</td>
  		</tr>
	</table>
</div>