<div class="container">
	<h4>管理者画面</h4>
	<table class='table'>
		<tr>
		  	<td>本日の注文件数</td>
		  	<td>
		  		<%= link_to "", owner_orders_path, class: "today_orders_count" %> 件
		  	</td>
  		</tr>
	</table>
</div>